.hero-section{
    padding: 100px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-img{
    width: 86%;
    height: 80vh;
    border-radius: 30px;
   object-position: center calc(50% - 100px);
    object-fit: cover;
}
.hero-heading{
    position: absolute;
    font-size: 48px;
    color: #5B3A29;
    top: 220px;
    left: 240px;
}

.hero-para{
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    width: 400px;
    top:300px ;
    left: 250px;
}

.btns button{
    position: absolute;
    padding: 20px 30px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    color: rgb(110, 110, 110);
    border: none;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}

.backword-btn{
    top: 320px;
    left: 76px;
}

.forward-btn{
    top: 320px;
    right: 76px;
}


@media (max-width:1100px){
    .hero-section{
        padding-top: 100px;
    }

    .hero-img{
         object-fit: cover;
        object-position: bottom;
        height: 30vh;
        border-radius: 10px;
        width: 100%;
    }
    .hero-heading{
        top: 135px;
        font-size: 20px;
        left: 40px;
    }
    .hero-para{
        font-size: 10px;
        top: 165px;
        left: 40px;
        width: 200px;
    }

    .btns button{
        padding: 15px 20px;
        font-size: 10px;
    }
    .forward-btn{
        top:57%;
        right: -10px;
    }
    .backword-btn{
        top: 57%;
        left: -10px;
    }

} 